<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ArticleMapper">

    <insert id="batchInsert" parameterType="com.example.demo.pojo.Article">
        insert into Article
        (pmid,article_title,abstract_text)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.pmid},#{item.articleTitle},#{item.abstractText}
            )
        </foreach>
    </insert>

    <insert id="insert" parameterType="com.example.demo.pojo.Article">
        insert into Article
        (pmid,article_title,abstract_text)
        values
        (#{pmid},#{articleTitle},#{abstractText})
    </insert>

    <select id="queryById" parameterType="String" resultType="com.example.demo.pojo.Article">
        select pmid,article_title as articleTitle,abstract_text as abstractText from Article where pmid = #{pmid} limit 1
    </select>

    <select id="queryLeftPage" resultType="com.example.demo.pojo.Article">
<!--        select pmid,article_title,abstract_text from Article where ${col} = 0 limit #{start}, #{pagesize}-->
        select pmid,article_title as articleTitle,abstract_text as abstractText from Article limit #{start}, #{pagesize}
    </select>

    <select id="queryLeftTotal" resultType="int">
<!--        select count(1) from Article where ${col} = 0;-->
        select count(1) from Article
    </select>

    <select id="getPmidList" resultType="java.lang.String">
        select pmid from Article limit #{start}, #{pagesize}
    </select>

</mapper>