<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SentenceMapper">

    <insert id="batchInsert" parameterType="com.example.demo.pojo.Sentence">
        insert into Sentence
        (pmid,serial_number,text)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.pmid},#{item.serialNumber},#{item.text}
            )
        </foreach>
    </insert>

    <insert id="insert" parameterType="com.example.demo.pojo.Sentence">
        insert into Sentence
        (pmid,serial_number,text)
        values
        (#{pmid},#{serialNumber},#{text})
    </insert>

    <select id="queryById" parameterType="long" resultType="com.example.demo.pojo.Sentence">
        select pmid,serial_number as serialNumber,text from Sentence where id = #{id} limit 1
    </select>

    <select id="queryByPmid" parameterType="String" resultType="com.example.demo.pojo.Sentence">
        select id, pmid,serial_number as serialNumber,text from Sentence where pmid = #{pmid}
    </select>

    <select id="queryLeftPage" resultType="com.example.demo.pojo.Sentence">
<!--        select id, pmid,serial_number as serialNumber,text from Sentence where ${col} = 0 limit #{start}, #{pagesize};-->
        select id, pmid,serial_number as serialNumber,text from Sentence limit #{start}, #{pagesize};
    </select>

    <select id="queryLeftTotal" resultType="int">
<!--        select count(1) from Sentence where ${col} = 0-->
        select count(1) from Sentence
    </select>

    <select id="coccurrence" resultType="com.example.demo.pojo.Sentence">
        select sentence_id as id,text as text from Entity,Sentence where name = #{e1} and sentence_id in(
        select sentence_id from Entity where name = #{e2}
        ) and Entity.sentence_id = Sentence.id

    </select>

    <select id="countCoccurrence" resultType="int">
        select count(1) from Entity,Sentence where name = #{e1} and sentence_id in(
        select sentence_id from Entity where name = #{e2}
        ) and Entity.sentence_id = Sentence.id

    </select>

</mapper>